/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#jr_inner p {
  padding: 5px;
  margin: 0;
}
#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}
#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}
#jr_inner li a:hover {
  text-decoration: underline;
}
#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}
#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}
#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  font-family: "Lato", sans-serif;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
@font-face {
  font-family: "bebas_bold";
  src: url("../font/BebasNeueBold/BebasNeueBold.eot");
  src: url("../font/BebasNeueBold/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../font/BebasNeueBold/BebasNeueBold.woff2") format("woff2"), url("../font/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../font/BebasNeueBold/BebasNeueBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Friz";
  src: url("../font/FrizQuadrataC/FrizQuadrataC.eot");
  src: url("../font/FrizQuadrataC/FrizQuadrataC.eot?#iefix") format("embedded-opentype"), url("../font/FrizQuadrataC/FrizQuadrataC.woff2") format("woff2"), url("../font/FrizQuadrataC/FrizQuadrataC.woff") format("woff"), url("../font/FrizQuadrataC/FrizQuadrataC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FrizBold";
  src: url("../font/FrizQuadrataCBold/FrizQuadrataCBold.eot");
  src: url("../font/FrizQuadrataCBold/FrizQuadrataCBold.eot?#iefix") format("embedded-opentype"), url("../font/FrizQuadrataCBold/FrizQuadrataCBold.woff2") format("woff2"), url("../font/FrizQuadrataCBold/FrizQuadrataCBold.woff") format("woff"), url("../font/FrizQuadrataCBold/FrizQuadrataCBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FrizItalic";
  src: url("../font/FrizQuadrataCItalic/FrizQuadrataCItalic.eot");
  src: url("../font/FrizQuadrataCItalic/FrizQuadrataCItalic.eot?#iefix") format("embedded-opentype"), url("../font/FrizQuadrataCItalic/FrizQuadrataCItalic.woff2") format("woff2"), url("../font/FrizQuadrataCItalic/FrizQuadrataCItalic.woff") format("woff"), url("../font/FrizQuadrataCItalic/FrizQuadrataCItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FrizBoldItalic";
  src: url("../font/FrizQuadrataCBoldItalic/FrizQuadrataCBoldItalic.eot");
  src: url("../font/FrizQuadrataCBoldItalic/FrizQuadrataCBoldItalic.eot?#iefix") format("embedded-opentype"), url("../font/FrizQuadrataCBoldItalic/FrizQuadrataCBoldItalic.woff2") format("woff2"), url("../font/FrizQuadrataCBoldItalic/FrizQuadrataCBoldItalic.woff") format("woff"), url("../font/FrizQuadrataCBoldItalic/FrizQuadrataCBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.brand .width {
  width: 100% !important;
  padding: 0;
}

.brand_in {
  margin: 0;
}

header.header {
  position: absolute;
  right: 0;
  left: 0;
}

.ctabs {
  display: none;
}

.creater {
  margin-top: 393px;
  margin-bottom: 45px;
  font: 400 45px/45px "FrizItalic", sans-serif;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
}

.title_font {
  font: 400 77px/77px "Friz", "bebas_bold", sans-serif;
  letter-spacing: 3px;
}

.header {
  width: 100%;
  overflow: hidden;
  background-image: url("../img/header_bg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center top;
}

.title {
  margin: 51px auto 130px;
  text-align: center;
}

.subtitle {
  font: 400 79px/70px "Friz", "bebas_bold", sans-serif;
  color: #fff;
  margin: 0;
  margin-top: -100px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.subtitle--red {
  padding-top: 30px;
  color: #c00;
  font: 400 38px/40px "Friz", "bebas_bold", sans-serif;
  text-align: center;
}

.buy {
  display: inline-block;
  vertical-align: middle;
  margin: 65px auto 18px;
  color: #fff;
  font: 400 41px/77px "FrizBold", "bebas_bold", sans-serif;
  text-align: center;
  text-decoration: none;
}

.buybill {
  position: relative;
}

.kin {
  margin-top: 44px;
}

.film_age {
  position: absolute;
  border: 3px solid #fff;
  border-radius: 50%;
  padding: 20px 23px 20px 18px;
  font-size: 31px;
  display: inline-block;
  top: 100px;
  right: 60px;
  vertical-align: middle;
  color: #fff;
  font-family: "bebas_bold";
}

.container.slides {
  position: relative;
  margin: 0 auto;
}

.actor-slider .slick-list {
  padding-bottom: 70px;
}

.actor-slider .slick-dots li {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.3;
}

.actor-slider .slick-dots li.slick-active {
  opacity: 1;
}

.actor-slider .slick-dots li button::before {
  content: "";
}

.slider-heading,
.slider-subheading {
  font: 400 44px/54px "Friz", "bebas_bold", sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.slider-subheading {
  font-size: 54px;
}

.cast {
  width: 200px;
  display: inline-block;
  background-repeat: no-repeat;
  color: #fff;
  padding-top: 274px;
  font-size: 22px;
  background-position: 50% 45px;
  margin: 0 36.4px;
  text-align: center;
  letter-spacing: 0.2px;
}

.container_dotts {
  text-align: center;
}

.dot.active {
  background-color: #F00;
}

.dot {
  display: inline-block;
  width: 11px;
  height: 11px;
  background: #fff;
  border-radius: 50%;
  margin: 0 9px;
  cursor: pointer;
}

.container.intro {
  margin: 0 auto;
  padding-top: 45px;
  color: #fff;
  text-align: center;
  letter-spacing: 1.3px;
}

.screenshot_title.title_font {
  font: 400 43px/53px "Friz", "bebas_bold", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.intro_inner {
  padding-left: 190px;
  padding-right: 190px;
  margin: 0 auto;
  font: 400 30px/36px "Friz", "bebas_bold", sans-serif;
}

.container.map_title {
  width: 100%;
  padding: 170px 0 50px;
  background: transparent;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.map_title_outer {
  font: 500 43px/53px "Friz", "bebas_bold", sans-serif;
  color: #fff;
  letter-spacing: 4px;
}

.container.map {
  position: relative;
  width: 100%;
  height: 310px;
  background: #ccc;
}

.container.sh_title {
  background: #fff;
  margin: 0 auto;
}

.sh_title_inner {
  width: 100%;
  height: 148px;
  background: #fff;
  opacity: 0.5;
  box-shadow: 0 0 17px rgba(101, 101, 101, 0.55);
  margin: 0 auto;
}

.container.trailer_title {
  background: transparent;
  font: 500 43px/53px "Friz", "bebas_bold", sans-serif;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  padding-top: 60px;
  text-transform: uppercase;
}

.container.trailer_block {
  background: transparent;
  height: 450px;
  position: relative;
  margin: 0 auto;
}

.trailer_block_inner {
  position: absolute;
  top: 10px;
  right: 200px;
  left: 120px;
  bottom: -200px;
  background-color: transparent;
  -webkit-box-shadow: 0 44px 80px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0 44px 80px rgba(0, 0, 0, 0.38);
  -ms-box-shadow: 0 44px 80px rgba(0, 0, 0, 0.38);
  -o-box-shadow: 0 44px 80px rgba(0, 0, 0, 0.38);
  box-shadow: 0 44px 80px rgba(0, 0, 0, 0.38);
}

.trailer_btn_play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -61px 0 0 -61px;
  height: 122px;
  width: 122px;
  background: url("../img/play-button.png") no-repeat scroll center center;
}

.trailer_frame {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../img/trailerbg.jpg") no-repeat scroll 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  cursor: pointer;
  z-index: 100;
}

.box_actors {
  width: 1170px;
  margin: 0 auto;
}

.row:after,
.box_actors:after {
  clear: both;
}

.actor__img {
  width: 30%;
  text-align: center;
  box-sizing: border-box;
}

.actor__name {
  width: 70%;
  box-sizing: border-box;
  padding: 0 25px;
}

.actor__name p {
  margin: 35px 0 20px;
  font: 400 26px/26px "Friz", sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.actor__name span {
  display: block;
  font: 400 20px/28px "FrizItalic", sans-serif;
  color: #f4b989;
  text-transform: uppercase;
}

.container_outer {
  padding: 85px 0 194px;
  background: #0e0603 url("../img/sliderbg.jpg") no-repeat;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center bottom;
}

.container .slider_title {
  position: relative;
  margin: 0 auto;
  padding-top: 50px;
  color: #fff;
  text-align: center;
}

.slider-film {
  padding-top: 40px;
}
.slider-film .slick-slide img {
  display: inline-block;
  height: 500px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
.slider-film .slick-active img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: none;
}
.slider-film .slick-next, .slider-film .slick-prev {
  width: 79px;
  height: 150px;
  opacity: 1;
  top: 0 !important;
  bottom: 0;
  margin: auto;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  zoom: 0.4;
  z-index: 10;
}
.slider-film .slick-next:hover, .slider-film .slick-prev:hover {
  opacity: 1;
}
.slider-film .slick-next:before, .slider-film .slick-prev:before {
  content: "";
  display: block;
  width: 79px;
  height: 150px;
}
.slider-film .slick-next, .slider-film .slick-next:hover, .slider-film .slick-next:focus {
  right: 120px;
  background: transparent url("../img/arrowright.png") no-repeat 0 0;
}
.slider-film .slick-prev, .slider-film .slick-prev:hover, .slider-film .slick-prev:focus {
  left: 65px;
  background: transparent url("../img/arrowleft.png") no-repeat 0 0;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

@media only screen and (max-width: 1999px) {
  .slider-film .slick-slide img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: none;
  }
}
